@font-face {
    font-family: 'Cirth Erebor';
    src: url('./erebor.eot');
    src: url('./erebor.eot?#iefix') format('embedded-opentype'),
         url('./erebor.woff') format('woff'),
         url('./erebor.ttf') format('truetype'),
         url('./erebor.svg#cirth_ereborregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
